*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body{
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--mainColour);
}

:root{
  --mainColour: #ABAD89;
  --navColor: #C2DB65;
  --navHoverColour: #454720;
  --headerColour: #A9977D;

}

.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--headerColour);
  font-size: 16px;
  font-family: Segoe Print;
  max-width: 100%;
  height:100px;
}

.header img{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
float: left;
width: 200px;
height: 100px;
}

.header h1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 36px;
  font-style: oblique;
  font-family: Segoe Print;
  color: white;
}

.buttons li{
  list-style: none;
  float: right;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
}
.buttons a{
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  text-align: center;
  background-color: #373236;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;
  margin-right: -850%;
  margin-top: 1.5em;

}

.buttons a:hover{
color: white;
background-color: var(--navHoverColour);
}

.nav li {
  list-style: none;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 20px;

}
.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
  background-color: #C2DB65;
  display: block;
  padding: 10px;
  color: white;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
.sub_container {
    width: 100%;
    float: left;
    min-height: 560px;
    padding: 10px 0;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.col-xs-4 {
    width: 33.33333333%;
}
 .col-xs-4, .col-sm-4, .col-md-4{
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
 }
 .white_bg {
     background-color: #fff;
     padding-top: 15px;
     padding-bottom: 15px;
     background-image: url(../images/sub_b.png);
     background-size: cover;
 }
 .container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }
 .nav li a {
    font-size: 16px!important;
    padding: 15px 22px !important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 26px;
    font-size: 17px !important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 31px;
    font-size: 17px !important;
}
.sub_container li a {
    /* color: #5a5a5a; */
    color: #000;
    font-size: 15px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    background-color: #eee;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff!important;
    cursor: default;
    background-color: #21a00a;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sub_container ul {
    list-style: outside none none;
    margin: 50px 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.column{
float: left;
width: 30%;
padding: 20px;
}

.nav-tabs {
}
.row {
  display: flex;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.full_img {
    float: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.tab-content > .tab-pane {
    display: none;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
element.style {
}
.nav.nav-tabs {
    margin: 0;
}
.tab-content {
    border: 1px solid #ccc;
    padding: 8px 25px;
}
.nav.nav-tabs {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.tab-content > .active {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.white_bg {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url(../images/sub_b.png);
    background-size: cover;
}
.section_block {
    padding: 25px 0 25px 0;
    float: center;
    width: 100%;
    border-bottom: 4px double #dcdcdc
    margin-bottom: 25px;
}
.nav a:hover {
  background-color: #454720;
  color:white;
}
.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #494140;
  color: white;
  padding: 20px;
  width: 100%;
  height: 20px;
}

.banner .h3{
  float:left;
  text-align: center;
  top: -10px;
  left: -10px;
  text-decoration: none;
  font-family: Segoe Print;
  font-size: 16px;
}
.footer li{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
  background-color: #494140;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background-color: #494140;
  display: block;
  padding: 10px;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.footer .social {
  font-size: 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


@media screen and (min-width: 500px) {
  .nav ul {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
  }
  .nav li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .footer ul {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
  }

  .footer li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer .social {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 2rem;
}



@media screen and (min-width: 1000px) {
  .nav ul {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .nav li {
        -webkit-box-flex: 3;
            -ms-flex: 3;
                flex: 3;
  }

  .footer ul {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
        }

  .footer li{
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }

  .footer .social {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 2rem;
}


}
